 <div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="Store" asp-action="Index" asp-controller="Home" class="nav-link active show">داشبورد</a></li>
        <li><a asp-area="User" asp-action="AddTicket" asp-controller="Ticket" class="nav-link">ثبت تیکت</a></li>
        <li><a asp-area="User" asp-action="Index" asp-controller="Ticket" class="nav-link">لیست تیکت ها</a></li>
        <li><a asp-area="Store" asp-action="Index" asp-controller="StoreWallet" class="nav-link">کیف پول</a></li>
        <li><a asp-area="Store" asp-action="Index" asp-controller="Product" class="nav-link"> مدیریت محصولات</a></li>
        <li><a asp-area="Store" asp-action="CreateProduct" asp-controller="Product" class="nav-link">   افزودن محصول</a></li>
        <li><a asp-area="" asp-action="LogOut" asp-controller="Account" class="nav-link">خروج</a></li>
    </ul>
</div>