@model MarketPlace.dataLayer.DTOs.Account.ChangePasswordDto
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("UserSideBar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="account-details">
                            <h3>تغییر کلمه عبور   </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-action="ChangePassword" asp-area="User" asp-controller="Account">
                                            <partial name="_CaptchaInput" />
                                            <label asp-for="CurrentPassword"></label>
                                            <input type="password" asp-for="CurrentPassword">
                                            <span class="text-danger d-block mb-1" asp-validation-for="CurrentPassword"></span>
                                            <label asp-for="NewPassword"></label>
                                            <input type="password" asp-for="NewPassword">
                                            <span class="text-danger d-block mb-1" asp-validation-for="NewPassword"></span>
                                            <label asp-for="ConfirmNewPassword"></label>
                                            <input type="password" asp-for="ConfirmNewPassword">
                                            <span class="text-danger d-block mb-1" asp-validation-for="ConfirmNewPassword"></span>
                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ذخیره</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_JqueryValidators" />
    <partial name="CaptchaScripts" />
}}
